{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" id="js-app">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h1 v-once> {* number *} </h1>
    <h1 v-once> {* students *} </h1>
    <button v-on:click="numberIncrease">+</h1>
</div>
{% endblock %}
